#calcBtn{
    -fx-background-color:#449d44;
    -fx-border-color: #398439;
}
#current_age{
   -fx-background-color:#fcfcfc; 
}
#monthly_contribution{
    -fx-background-color:#fcfcfc;
}
#retirement_age{
    -fx-background-color:#fcfcfc;
}
#interest{
    -fx-background-color:#fcfcfc;
}